html
  include includes/head.pug
  body.body-home
    .tri(style= background_image )
      .content.dis-flex.card
        .site-header.dis-flex
          .title-que-cont.dis-flex
            span.title-que
              h1 not
                br
                | yet
              img(src = logo)
        div
          form#form1.dis-flex.flex-col(action='/')
            label(for='question') 
              h6 What is the question they're keep nagging you about?
            input#question(type='text', name='que', onfocus="if(this.value == 'Are we there yet??') { this.value = ''; }", value='Are we there yet??' placeholder="Type your question here")

            lable #[input#ans1(type='radio', name='ans', value='Yes!' checked)] Yes!
            lable #[input#ans2(type='radio', name='ans', value= 'No!')] No!
            
            button#btn-home(type='submit', form='form1', value='Submit') Create page!
        footer
          | Created by  
          a(href='https://www.dordesign.com/index.html#page-2')
            b Dor Tal

