html
  include includes/head.pug
  body(class = theme_color)
    #dark-back.hide
    .tri(style = background_image )
        .content.dis-flex.card
          div
            .noo-cont
              #noo #{question}
          .full-width
            #answer-cont
              .full-width
                .no
                  .no-images
                    img.no-image(src= answer_icon)
                    img.no-image.spin.hide(src= spinner)
                  span#no-text 
                  if answer == 'true'
                    |Yes!
                  else
                    |No!
                .update-wrap.full-width
                  span.update-cont
                    span#last Last update: 
                    span#update-time
                .loader-cont
                  .loader mmm...
                  .loader Checking for updates...
          .links
            .full-width.btn-cont
              button(class = theme_btn onclick='animateText()') And now??
            div
              #share-box.card.hide
                .dis-flex.flex-col
                  #share-link 
                  div
                    h6 Copy link:
                  .link-text notyetapp.herokuapp.com/?id=#{changeId}
                  .flat-btn(onclick = 'hideShare()' ) Close

              span.flat-btn(onclick='showShare()') 
                img(src= share_icon )
                div Share

              span.flat-btn
                a(href='/change?id=' + changeId)
                  img(src= update_icon)
                  div Update
            

          footer
            | created with
            a(href='/')
              b  NotYet
            |  by 
            a(href='http://www.dordesign.com/index.html#page-2')
              b Dor Tal
