html
  include includes/head.pug
  body#body-notyet
    .tri(style= background_image )
      .wraper
        .content.dis-flex
          div
            .noo-cont
              #noo #{question}
            .update-wrap.full-width
              span.update-cont
                span#last Last update: 
                span#update-time
          .full-width
            #answer-cont
              .loader-cont.full-width
                .loader mmm...
                .loader Checking for updates...
              .full-width
                #wait.no
                  img(src= answer_icon)
                  span #{answer}
          .full-width.btn-cont
            button(onclick='animateText()') And now??
          .links
            span.flat-btn(onclick='copyLink()') Copy link
            a.flat-btn(href='/') Create your own!
        //- footer
          | this is the end my friend, check 
          a(href='../index.html#page-2')
            b My works
