html
  include includes/head.pug
  body(class = theme_color)
    .tri(style = background_image )
        .content.dis-flex.card
          div
            .noo-cont
              #noo #{question}
          .full-width
            #answer-cont
              .full-width
                .no
                  .no-images
                    img.no-image(src= answer_icon)
                    img.no-image.spin.hide(src= spinner)
                  span#no-text 
                  if answer == 'true'
                    |Yes!
                  else
                    |No!
                .update-wrap.full-width
                  span.update-cont
                    span#last Last update: 
                    span#update-time
                .loader-cont
                  .loader mmm...
                  .loader Checking for updates...
          .links
            .full-width.btn-cont
              button(class = theme_btn onclick='animateText()') And now??
            .dis-flex.flex-col
              span.flat-btn(onclick='copyLink()') Copy link
              a.flat-btn(href='/') Create your own!
              a.flat-btn(href='/change?id=' + changeId) Update status
          footer
            | created by 
            a(href='http://www.dordesign.com/index.html#page-2')
              b Dor Tal
