html
  include includes/head.pug
  body
    .wraper
      .content.dis-flex
        #noo #{question}
        .update-wrap.full-width
          #last Last update:
          #update-time
        .full-width
          #answer-cont
            .loader-cont
              .loader mmm...
              .loader Checking for updates...
            #wait.no
              | No!
        .full-width.btn-cont
          button(onclick='animateText()') And now??
        .full-width.links
          button.copy-link(onclick='copyLink()') Copy link
          a(href='/pages/yet-create.html') Create your own!
      footer
        | this is the end my friend, check 
        a(href='../index.html#page-2')
          b My works
  script(type='text/javascript', src='../js/scripts.js')
