html
  include includes/head.pug
  body(class = theme_color)
    #fb-root
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '240105459848939',
      xfbml      : true,
      version    : 'v2.10'
      });
      FB.AppEvents.logPageView();
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #dark-back.hide
    .tri(style = background_image )
        .content.dis-flex.card
          div
            .noo-cont
              #noo #{question}
          .full-width
            #answer-cont
              .full-width
                .no
                  .no-images
                    img.no-image(src= answer_icon)
                    img.no-image.spin.hide(src= spinner)
                  span#no-text 
                  if answer == 'true'
                    span.yes-no Yes!
                  else
                    span.yes-no No!
                .update-wrap.full-width
                  span.update-cont
                    span#last Last update: 
                    span#update-time
                .loader-cont
                  .loader mmm...
                  .loader Checking for updates...
          .links
            .full-width.btn-cont
              button(class = theme_btn onclick='animateText()') And now??
          .buttons
            #share-box.card.hide
              .dis-flex.flex-col
                #share-link 
                div
                  h6 Copy link:
                .link-text notyetapp.herokuapp.com/?id=#{changeId}
                div
                  h6 Or:
                #shareBtn.flat-btn
                  | Share on Facebook
                .flat-btn(onclick = 'hideShare()' ) Close

            span.flat-btn(onclick='showShare()') 
              img(src= share_icon )
              div.flat-text Share

            span.flat-btn
              a(href='/change?id=' + changeId)
                img(src= update_icon)
                div.flat-text Update
            

          footer
            button.second-cta
              a(href='/')
                | Create a question!
